* {
	margin: 0;
	padding: 0;
}
body {
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top right, #00DAAF 0%, #2615BB 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top right, #00DAAF 0%, #2615BB 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top right, #00DAAF 0%, #2615BB 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #00DAAF), color-stop(100, #2615BB));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top right, #00DAAF 0%, #2615BB 100%);
  /* W3C Markup */ 
  background-image: linear-gradient(to bottom left, #00DAAF 0%, #2615BB 100%);
  font-family: 'Titillium Web', sans-serif;
}
header {
  display: flex;
  margin: 50px 0;
  justify-content: center;
}
*:focus {
  outline: none;
  }
h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 3px rgba(127, 114, 140);
}
h2 {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 2px 2px #000000;
  margin: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  background-color: rgba(127, 114, 140, 0.3);
  padding: 20px;
  border-radius: 3px;
  width: 400px;
}
.form-wrapper {
  width: 380px;
  background-color: #f4f4f4;
  padding: 25px;
  border: 1px solid grey;
  border-radius: 3px;
}
.form-template__main {
  /* background-color: red; */
}
.form-template__row {
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  display: flex;
  height: 35px;
  margin-bottom: 10px;
}
.form-template__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: rgb(204, 204, 204);
}
.form-bar {
  width: 2px;
  background-color: rgb(204, 204, 204);
  border: 2px solid white;
}
.form-template__field {
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  color: grey;
  border: 0;
  padding-left: 10px;
  flex: 1;
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance:none;
}
.form-template__row--check {
  border: 0;
  display: flex;
  align-items: center;
}
/* add textarea and checkbox */
.form-template__row:hover, .form-textarea:hover { 
  border-color: rgba(0, 218, 175, 0.5);
} 
.form-textarea {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  color: grey;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  width: 100%;
  resize: none;
  padding: 2% 4%;
}
.form-template__row--check {
  /* background-color: #f4f4f4; */
  
}

.form-template__row--check {
  width: auto;
  float: left;
  background: none;
}

.form__checkbox-wrapper label {
  display: flex;
  align-items: center;
  color: #afafaf;
}

.checkbox {
  display: none;
}

.checkmark-span {
  margin-right: 7px;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #afafaf;
  border-radius: 5px;
  position: relative;
  }
  
.checkmark-span::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #88c814;
  display: none;
  border-radius: 3px;
  top: 6px;
  left: 6px;
}
input[type="checkbox"]:checked ~.checkmark-span::after {
  display: block;
}



  